In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
#Calculate the total number of schools
total_schools = len(school_data_complete['school_name'].unique())

#Calculate the total number of students
total_student = school_data_complete['student_name'].count()

#Calculate the total budget
total_budget = sum(school_data_complete['budget'].unique())

#Calculate the average math score
average_math_score = school_data_complete['math_score'].mean()

#Calculate the average reading score
average_reading_score = school_data_complete['reading_score'].mean()

#Calculate the percentage of students with a passing math score (70 or greater)
passing_math_score = (school_data_complete[school_data_complete['math_score']>=70]['student_name'].count()/total_student)*100

#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_score = (school_data_complete[school_data_complete['reading_score']>=70]['student_name'].count()/total_student)*100

#Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_passing_score = (passing_math_score + passing_reading_score)/2

#Create a dataframe to hold the above results

Schools_District = {'Total Schools':total_schools,
                    'Total Student':total_student,
                    'Total Budget':total_budget,
                    'Average Math Score':average_math_score,
                    'Average Reading Score':average_reading_score,
                    'Passing Math Percent':[passing_math_score],
                    'Passing Reading Percent':passing_reading_score,
                    'Overall Passing Percent':overall_passing_score}
Schools_District_Summary = pd.DataFrame(Schools_District)
Schools_District_Summary

,Total Schools,Total Student,Total Budget,Average Math Score,Average Reading Score,Passing Math Percent,Passing Reading Percent,Overall Passing Percent
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.393158

In [3]:
# groupby school name
school_grp = school_data_complete.groupby(['school_name'])

#School Type
school_type = school_grp['type'].first()

#Total Students
total_student = school_grp.size()

#Total School Budget
total_budget = school_grp['budget'].first()

#Per Student Budget
budget_per_student = total_budget/total_student

#Average Math Score
average_math_score = school_grp['math_score'].mean()

#Average Reading Score
average_reading_score = school_grp['reading_score'].mean()

#% Passing Math
passing_math_grp = school_data_complete[school_data_complete['math_score']>=70].groupby(['school_name']).size()
passing_math_percent = (passing_math_grp/total_student)*100

#% Passing Reading
passing_reading_grp = school_data_complete[school_data_complete['reading_score']>=70].groupby(['school_name']).size()
passing_reading_percent = (passing_reading_grp/total_student)*100

#% Overall Passing (The percentage of students that passed math and reading.)
overall_passing_percent = (passing_math_percent + passing_reading_percent)/2

#Create a dataframe to hold the above results

School = {'School Type': school_type,
          'Total Students':total_student,
          'Total School Budget': total_budget,
          'Per Student Budget': budget_per_student,
          'Average Math Score': average_math_score,
          'Average Reading Score': average_reading_score,
          'Passing Math Percent': passing_math_percent,
          'Passing Reading Percent': passing_reading_percent,
          'Overall Passing Percent': overall_passing_percent}  

School_Summary = pd.DataFrame(School)
School_Summary

NameError: name 'grouped_school' is not defined

In [ ]:
#Sort and display the top five performing schools by % overall passing.
top_performing_schools = School_Summary.sort_values(by='Overall Passing Percent',ascending=False)
top_performing_schools.head()

In [ ]:
#Sort and display the five worst-performing schools by % overall passing.
bottom_performing_schools = School_Summary.sort_values(by='Overall Passing Percent',ascending=True)
bottom_performing_schools.head()

In [ ]:
#avarage math score 9th grade by school name
avg_math_9th_grade = school_data_complete[school_data_complete['grade']=='9th'].groupby('school_name')['math_score'].mean()

#avarage math score 10th grade by school name
avg_math_10th_grade = school_data_complete[school_data_complete['grade']=='10th'].groupby('school_name')['math_score'].mean()

#avarage math score 11th grade by school name
avg_math_11th_grade = school_data_complete[school_data_complete['grade']=='11th'].groupby('school_name')['math_score'].mean()

#avarage math score 12th grade by school name
avg_math_12th_grade = school_data_complete[school_data_complete['grade']=='12th'].groupby('school_name')['math_score'].mean()

#Combine the series into a dataframe

math_score = {'9th':avg_math_9th_grade,
              '10th':avg_math_10th_grade,
              '11th':avg_math_11th_grade,
              '12th':avg_math_12th_grade}

math_score_by_grade = pd.DataFrame(math_score)
math_score_by_grade.head()

In [ ]:
#avarage reading score 9th grade by school name
avg_reading_9th_grade = school_data_complete[school_data_complete['grade']=='9th'].groupby('school_name')['reading_score'].mean()

#avarage reading score 10th grade by school name
avg_reading_10th_grade = school_data_complete[school_data_complete['grade']=='10th'].groupby('school_name')['reading_score'].mean()

#avarage reading score 11th grade by school name
avg_reading_11th_grade = school_data_complete[school_data_complete['grade']=='11th'].groupby('school_name')['reading_score'].mean()

#avarage reading score 12th grade by school name
avg_reading_12th_grade = school_data_complete[school_data_complete['grade']=='12th'].groupby('school_name')['reading_score'].mean()

#Combine the series into a dataframe

reading_score = {'9th':avg_reading_9th_grade,
              '10th':avg_reading_10th_grade,
              '11th':avg_reading_11th_grade,
              '12th':avg_reading_12th_grade}

reading_score_by_grade = pd.DataFrame(math_score)
reading_score_by_grade.head()

In [ ]:
#Bins creation
bins = [0, 584, 629, 644, 675]
school_spending_grp = ["<$584", "$585-629", "$630-644", "$645-675"]

#create Dataframe including required tables

scores_by_school_spending = School_Summary.loc[:,['Average Math Score',
                                                  'Average Reading Score',
                                                  'Passing Math Percent',
                                                  'Passing Reading Percent',
                                                  'Overall Passing Percent']]
          
    
    
scores_by_school_spending